### Step 1: Loading the data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
dataset_df = pd.read_csv('../../data/EmployeeCompensation_overview_2020-02-28.csv')

### Step 2: Visualizing the data

In [8]:
dataset_df.head()

,Fiscal Year,Agency,Pay Class Category,Pay Scale Type,Position Number,Position Title,Extra Help Flag,Class Code,Employee Name,Career Service Date,Pay Grade,Gender,Race,Percent of Time,Annual Salary
0,2020,AR DEPT OF VETERAN AFFAIRS,MEDICAL PROFESSIONAL,CLASSIFIED,22164491,REGISTERED NURSE - HOSPITAL,NaN,L032C,ARNETTA L BRANDON,2019-06-08,MP01,FEMALE,BLACK/NOT HISPANIC ORIGIN,100,73724.35
1,2020,LEGISLATIVE AUDIT,SENIOR EXECUTIVE,CLASSIFIED,22097040,LA AUDIT MANAGER,NaN,Q006N,A S ADAMS CPA,1992-01-06,SE02,MALE,WHITE/NOT HISPANIC ORIGIN,100,129499.97
2,2020,DAH - CENTRAL ADMINISTRATION,GENERAL SERVICES,CLASSIFIED,22092728,DAH PROGRAM COORDINATOR,NaN,G186C,A. ABIGAIL HOWE,1979-07-22,GS06,FEMALE,WHITE/NOT HISPANIC ORIGIN,100,56051.01
3,2020,DFA - REVENUE SERVICES DIV,GENERAL SERVICES,CLASSIFIED,22133966,TAX INVESTIGATOR,NaN,X172C,A. CAROL DODSON,2018-03-16,GS03,FEMALE,WHITE/NOT HISPANIC ORIGIN,100,26033.90
4,2020,DFA - OFC OF CHILD SUPPORT ENF,GENERAL SERVICES,CLASSIFIED,22111298,DFA SERVICE REPRESENTATIVE,NaN,C059C,AALIYAH C. MCSHANE,2019-06-16,GS03,FEMALE,BLACK/NOT HISPANIC ORIGIN,100,26033.90

In [9]:
# How many fiscal year are there?
dataset_df['Fiscal Year'].unique()

array([2020])

In [10]:
dataset_df.describe()

       Fiscal Year  Position Number  Percent of Time  Annual Salary
count      32475.0     3.247500e+04     32475.000000   32475.000000
mean        2020.0     1.908794e+07        98.335304   44321.489383
std            0.0     7.464035e+06        11.277008   22410.881228
min         2020.0     1.710000e+02         0.000000       0.000000
25%         2020.0     2.208438e+07       100.000000   31518.030000
50%         2020.0     2.209687e+07       100.000000   38096.450000
75%         2020.0     2.210825e+07       100.000000   50494.080000
max         2020.0     1.000000e+08       100.000000  287042.080000